{% extends 'templateProfil.html.twig' %}

{% block title %}Info {{ user.firstname }}{% endblock %}

{% block titleProfil %}
{% endblock %}
    
{% block Profil %}
    {% if auth != false and user.id == auth.id %}
        <div class="marginTop1 paddingLeft5">
            <button class="padding05">Editer mon profil</button> 
        </div>
    {% endif %}  
    {% if auth == false or user.id != auth.id or auth != false %} {# or auth != false va disparaitre c'est pour quon voi notre profil en attendant davoir le form qui remplace #} 

        <h1 class="paddingLeft3 fontSize4 fontProject color1 marginBottom1">Information :</h1>
    
        <div class="paddingLeft5 fontProject color31"> {# color4/31 resultalt #}
            <p><strong class="fontProject color3">Prenom :&nbsp &nbsp</strong> {{ user.firstname|capitalize }}</p>
            <p><strong class="fontProject color3">Nom :&nbsp &nbsp</strong> {{ user.name|capitalize }}</p>
            <p><strong class="fontProject color3">Anniversaire :&nbsp &nbsp</strong> {{ user.birthday|date("d/m/Y") }}
            <p><strong class="fontProject color3">Pseudo :&nbsp &nbsp</strong> {{ (user.pseudo != null) ? user.pseudo : '<em class="colorLightGrey">champ à renseigner</em>' }}</p>
            <p><strong class="fontProject color3">Email :&nbsp &nbsp</strong> {{ user.email|capitalize }}</p>
            <p><strong class="fontProject color3">Visibilité :&nbsp &nbsp</strong> {{ (user.private is defined) ? user.private : '<em class="colorLightGrey">champ à renseigner</em>' }}</p>
            <p><strong class="fontProject color3">Pays :&nbsp &nbsp</strong> {{ (user.country is defined) ? user.conutry : '<em class="colorLightGrey">champ à renseigner</em>' }}</p>
            <p><strong class="fontProject color3">Ville :&nbsp &nbsp</strong> {{ (user.city is defined) ? user.city : '<em class="colorLightGrey">champ à renseigner</em>' }}</p>
            <p><strong class="fontProject color3">Adresse :&nbsp &nbsp</strong> {{ (user.street is defined) ? user.street : '<em class="colorLightGrey">champ à renseigner</em>' }}</p> {# numberstreet is private use for localise #}
            <p><strong class="fontProject color3">Information :&nbsp &nbsp</strong> {{ (user.info is defined) ? user.info : '<em class="colorLightGrey">champ à renseigner</em>' }}</p>
            <p><strong class="fontProject color3">Votes :&nbsp &nbsp</strong> {{ (user.rating is defined) ? user.rating : '<em class="colorLightGrey">champ à renseigner</em>' }}</p>
            <p><strong class="fontProject color3">Status :&nbsp &nbsp</strong>  {{ (user.status is defined) ? user.status : '<em class="colorLightGrey">champ à renseigner</em>' }}</p>
            <p><strong class="fontProject color3">Verifié :&nbsp &nbsp</strong> {{ (user.isverified == "1") ? '&nbsp<em class="alignSelfCenter colorGreen fontSize3 fontProject"><i class="alignSelfCenter fa-solid fa-check"></i>&nbsp Profil verifié</em>' : '&nbsp<em class="alignSelfCenter colorRed fontSize3 fontProject"><i class="fa-solid fa-xmark"></i>&nbsp Profil non verifié</em>' }}</p>
        </div>
    {% endif %}
    
{% endblock %}