{% extends 'template.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}
    <div id="page" class="register flex flexColumn textAlignCenter alignItemCenter justifyCenter">
        <div id="loginPortal" class="flex flexColumn textAlignCenter alignItemCenter justifyCenter paddingTop05 paddingBottom1 marginBottom2 borderRadius02 backColorWhite09">
            <h1 id="titleRegister" class="fontProject color1 fontSize65 ">Around Music</h1>

            <p class="fontProject colorLightGrey2">Inscrivez-vous pour profiter pleinement</p>

            <button class="registerButton1 marginAuto fontProject fontSize3 border borderLight borderRadius02 backColorProject2 borderColorProject2">
                <a href="{{ path('register_google') }}" class="flex justifyCenter fontProject colorWhite fontSize3"><img id="logoGoogle" src="{{ asset('assets/images/google_logo_rond.png') }}"><p class="">&nbsp S'inscrire avec Google</p></a>
            </button>
            <div id="hrRegister" class="flex">
                <hr class="marginRight1 marginLeft1 hrco borderBottom borderLight borderColorLightGrey"><p class="colorLightGrey2">OU</p><hr class="marginLeft1 marginRight1 hrco borderBottom borderLight borderColorLightGrey">
            </div>

            
                {{ form_start(registrationForm, {'attr': {'class': 'form1 flex flexColumn textAlignCenter alignItemCenter justifyCenter'}} ) }}

                    <div class="marginLeft-3 rowForm1 justifyCenter flex marginBottom1 alignItemCenter">
                        <label class="fontProject color1 fontSize3">
                            {{ form_label(registrationForm.email) }}
                            &nbsp &nbsp<i class="fa-regular fa-envelope"></i>&nbsp &nbsp &nbsp &nbsp &nbsp
                        </label>                        
                        {{ form_widget(registrationForm.email, {'attr': {'autofocus': true, 'class': 'input1 fontSize3 padding025 textAlignCenter border borderLSmall borderColorLightGrey borderRadius02 color31'}} ) }}
                    </div>
                    <div class="error1 fontProject colorRed">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    
                    
                    <div class="marginLeft-3 rowForm1 justifyCenter flex marginBottom1 alignItemCenter">
                        <label class="fontProject color1 fontSize3">
                            {{ form_label(registrationForm.plainPassword.first) }}
                            &nbsp &nbsp
                        </label>
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'input1 fontSize3 padding025 textAlignCenter border borderLSmall borderColorLightGrey borderRadius02'}}) }}   
                    </div>
                    <div class="error1 fontProject colorRed">
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>
                    

                    <div class="marginLeft-3 rowForm1 justifyCenter flex marginBottom1 alignItemCenter">
                        <label class="fontProject color1 fontSize3">
                            {{ form_label(registrationForm.plainPassword.second) }}
                            &nbsp
                        </label>    
                        {{ form_widget(registrationForm.plainPassword.second,  {'attr': {'class': 'input1 fontSize3 padding025 textAlignCenter border borderLSmall borderColorLightGrey borderRadius02'}}) }}
                    </div>


                    <div class="marginLeft-3 rowForm1 justifyCenter flex marginBottom1 alignItemCenter">
                        <label class="fontProject color1 fontSize3">
                            {{ form_label(registrationForm.name) }}
                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        </label>                  
                        {{ form_widget(registrationForm.name, {'attr': {'class': 'input1 fontSize3 padding025 textAlignCenter border borderLSmall borderColorLightGrey borderRadius02 color31'}}) }}
                    </div>
                    <div class="error1 fontProject colorRed">
                        {{ form_errors(registrationForm.name) }}
                    </div>
                    

                    <div class="marginLeft-3 rowForm1 justifyCenter flex marginBottom1 alignItemCenter">
                        <label class="fontProject color1 fontSize3">
                            {{ form_label(registrationForm.firstname) }}
                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        </label>
                        {{ form_widget(registrationForm.firstname, {'attr': {'class': 'input1 fontSize3 padding025 textAlignCenter border borderLSmall borderColorLightGrey borderRadius02 color31'}}) }}
                    </div>
                    <div class="error1 fontProject colorRed">
                        {{ form_errors(registrationForm.firstname) }}
                    </div>
                    

                    <div class="marginLeft-3 rowForm1 justifyCenter flex marginBottom1 alignItemCenter">
                        <label class="fontProject color1 fontSize3">
                            {{ form_label(registrationForm.birthday) }}
                            &nbsp &nbsp &nbsp &nbsp &nbsp
                        </label>
                        {{ form_widget(registrationForm.birthday, {'attr': {'class': 'inputBirthday fontSize3 padding025 textAlignCenter border borderLSmall borderColorLightGrey borderRadius02 color31'}} ) }}
                    </div>
                    <div class="error1 fontProject colorRed">
                        {{ form_errors(registrationForm.birthday) }}
                    </div>
                    


                    <div class="rowForm1 justifyCenter marginBottom1">
                        <label class="fontProject colorLightGrey2 fontSize3">
                            {{ form_label(registrationForm.agreeTerms) }}
                        </label>
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                    <div class="error1 fontProject colorRed">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                    
                    
                    <div class="rowForm1 justifyCenter marginTop05">
                        {{ form_row(registrationForm.valider, {'attr': {'class': 'registerButton2 fontProject fontSize3 padding025 colorWhite marginBottom1 border borderLSmall borderColorProject22 borderRadius02 backColorProject2'}}) }}
                    </div>
                    
                    <!--<button type="submit" class="">Valider</button>-->
                    
                {{ form_end(registrationForm) }}
            
        </div>
        <div id="loginPortal" class="flex flexColumn paddingTop2 paddingBottom2 borderRadius02 backColorWhite09">
            <p class="fontProject color1 fontSize3">Vous avez deja un compte ?<a class="color31 link1" href="{{ path('app_login') }}">&nbsp Connectez-vous</a></p>
        </div>
    </div>
{% endblock %}

