<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}
                Title
            {% endblock %}
        </title>
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/details.css') }}" rel="stylesheet" />
        <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="blockPage">
            {% block pageTitle %}
                Page Title 
            {% endblock %}

            {% for message in app.session.flashBag.get('info') %}
                <div class="info fontProject">
                    <a class="colorWhite" href="{{ app.request.server.get('http-referer') }}">{{ message }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<i class="fa-solid fa-xmark"></i>&nbsp</a>  {# commentaire twig #}
                </div>
            {% endfor %}

            {% for message in app.session.flashBag.get('success') %}
                <div class="success fontProject">
                    <a class="colorWhite" href="{{ app.request.server.get('http-referer') }}">{{ message }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<i class="fa-solid fa-xmark"></i>&nbsp</a>
                </div>
            {% endfor %}

            {% for message in app.session.flashBag.get('error') %}
                <div class="error fontProject">
                    <a class="colorWhite" href="{{ app.request.server.get('http-referer') }}">{{ message }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<i class="fa-solid fa-xmark"></i>&nbsp</a>
                </div>
            {% endfor %}
            {% block body %}
                Page Body
            {% endblock %}
        
            <script src="{{ asset('assets/js/scripts.js') }}"></script>
            {% block javascripts %}
            {% endblock %}
        </div>
    </body>
</html>