{% extends 'template.html.twig' %}

{% block title %}Profil{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}
<div id="page" class="flex flexRow">
    <div id="blockLeft" class="fixed textAlignCenter borderRight borderLight borderColorLightGrey">
        <div id="logoApp" class="flex alignItemCenter"><!--justifyCenter -->
            <a href="#">
                <img id="logo" class="flex relative" src="{{ asset('assets/images/Hand-drawn-trumpet-logo-by-yahyaanasatokillah-580x387.jpg') }}">
            </a>
        </div>
        <hr>
        <div class="marginTop2">
            <nav class="textAlignStart">
                <h2 class="titleMenu fontSize3 color1 fontProject maj">Menu</h2>

                <ul id="leftMenu" class="fontProject flex flexColumn">
                    <li><a href="#" class="alignItemBaseline flex leftMenu color4"><i class="fa-solid fa-earth-americas"></i>&nbsp &nbsp Decouvrir</a></li>
                    <li><a href="{{ path('research', { id: auth.id }) }}" class="alignItemBaseline flex leftMenu color4"><i class="fa-solid fa-magnifying-glass"></i>&nbsp &nbsp Rechercher</a></li>
                    <li><a href="{{ path('friends', { id: auth.id }) }}" class="alignItemBaseline flex leftMenu color4"><i class="fa-solid fa-users-line"></i>&nbsp &nbsp Mes amis</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <nav class="textAlignStart">
                <h2 class="titleMenu fontSize3 color1 fontProject maj">Vos informations</h2>

                <ul id="leftMenu" class="fontProject flex flexColumn">
                    {% if auth != false %}
                        <li><a href="{{ path('index', { id: auth.id }) }}" class="alignItemBaseline flex leftMenu {% if classLeftMenuProfilSelected|default %} color3 {% else %} color4 {% endif %}"><i class="fa-solid fa-user"></i>&nbsp Mon profil</a></li>
                        <li><a href="#" class="alignItemBaseline flex leftMenu color4"><i class="fa-solid fa-chart-line"></i>&nbsp Mon Dashboard</a></li>
                        <li><a href="#" class="alignItemBaseline flex leftMenu color4"><i class="fa-solid fa-envelope"></i>&nbsp Messages</a></li>
                        <li><a href="#" class="alignItemBaseline flex leftMenu color4"><i class="fa-solid fa-gear"></i>&nbsp Parametres</a></li>
                    {% endif %}
                    <li><a {% if auth != false %}onClick="return confirm('Etes-vous sur ?')"{% endif %} href="{{ path('app_logout') }}" id="{% if auth != false %}logout{% else %}login1{% endif %}" class="alignItemBaseline flex color4"><i class="fa fa-power-off"></i>{% if auth != false %}&nbsp Deconnexion{% else %}&nbsp Se connecter{% endif %}</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="blockCenter">
        <div id="cover" class="overflowHidden">
            <img id="imageCouverture" src="{{ asset('assets/images/blue.jpg') }}">
            
        </div>
        <div id="boxShadow">
            </div>
        <div id="spaceProfil">
            <div id="rowTop" class="flex flexRow justifyBetween marginBottom1">
                <div class="flex flexRow">
                    <div id="pictureProfil" class="border borderMiddle borderColorWhite borderRadius1 marginLeft3 relative overflowHidden marginRight2">
                        {% if user.getPictureProfil != null %}
                            <img id="imageCouverture" src="/uploads/pictures/{{user.getPictureProfil().filename}}">
                        {% else %}
                            <img id="imageCouverture" src="{{ asset('assets/images/no-profile-picture-icon-7.png') }}">
                        {% endif %}
                    </div>
                    <h2 class="fontSize4 fontProject color3">{{ user.firstname|capitalize }} {{ user.name|capitalize }}</h2>&nbsp &nbsp &nbsp
                    {% if user.isverified == false %}
                        <div class="flex">
                            <h2 class="alignSelfCenter colorRed fontSize3 fontProject"><i class="fa-solid fa-xmark"></i>&nbsp Profil non verifié
                            {% if auth != false and user.id == auth.id %}
                                &nbsp &nbsp<a {#title="Renvoyer un lien de verification"#} aria-label="Renvoyer un lien de verification" class="repeat bubble-info fontSize3 color31" href="{{ path('app_newlink_email', { id: auth.id }) }}"><i class="fa-solid fa-arrow-rotate-right"></i></a>
                        
                            {% endif %}
                            </h2>
                        </div>
                    {% else %}
                        <i class="alignSelfCenter colorGreen fa-solid fa-check"></i>
                    {% endif %}
                </div>
                <div id="partRightRow" class="fontProject marginTop1 paddingRight1 flex flexRow justifyAround">
                    <div class="btnUpload marginAuto flex alignItemCenter border borderSmall borderColorLightGrey borderRadius1 padding05 paddingLeft1 paddingRight1 color4">
                        <p>Amateur</p>
                    </div>
                    <div class="btnUpload marginAuto flex alignItemCenter border borderSmall borderColorLightGrey borderRadius1 padding05 paddingLeft1 paddingRight1 color4">
                        <p>50 amis</p>
                    </div>
                    <div class="btnUpload backColorProject1 marginAuto flex alignItemCenter border borderSmall borderColorProject1 borderRadius1 padding05 paddingLeft1 paddingRight1 colorWhite">
                        {% if auth != false %}
                            <a href="{{ path('add_friend', { friendAdd: user.id, id: auth.id }) }}" class="color2"><i class="fa-solid fa-plus"></i>&nbsp Demande d'ami</a>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div>
                <nav class="color1 paddingLeft1">
                    <ul id="navProfil" class="maj fontSize3 fontProject flex justifyAround">
                        <li><a href="{{ path('index', { id: user.id }) }}" class="borderBottom padding1 borderExtraMiddle borderColor0 color2 menuProfil {% if classSelectedProfil is defined %} {{ classSelectedProfil }} {% endif %}">Fil d'actualités</a></li>
                        <li><a href="{{ path('media', { id: user.id }) }}" class="borderBottom padding1 borderExtraMiddle borderColor0 color2 menuProfil {% if classSelectedMedia is defined %} {{ classSelectedMedia }} {% endif %}">Medias</a></li>
                        <li><a href="{{ path('event', { id: user.id }) }}" class="borderBottom padding1 borderExtraMiddle borderColor0 color2 menuProfil {% if classSelectedEvent is defined %} {{ classSelectedEvent }} {% endif %}">Evenements</a></li>
                        <li><a href="{{ path('info', { id: user.id }) }}" class="borderBottom padding1 borderExtraMiddle borderColor0 color2 menuProfil {% if classSelectedInfo is defined %} {{ classSelectedInfo }} {% endif %}">Profil</a></li>
                        <li><a href="{{ path('contact', { id: user.id }) }}" class="borderBottom padding1 borderExtraMiddle borderColor0 color2 menuProfil {% if classSelectedContact is defined %} {{ classSelectedContact }} {% endif %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <hr>
            <div>
                {% block titleProfil %}
                    Profil Title
                {% endblock %}

                {% block Profil %}
                    Profil Body
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
